.app{
  width: 100%;
  background-color:whitesmoke;
  justify-content: center;
  align-items: center;
}
form{
  align-self: center;
  margin: 2rem;
}

.form-rows {
  margin-top: 1rem
}

input{
  width:200px;
  height:40px;
  border-radius: 4px;
  border:1px solid white;
  margin-top:10px;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  background:fff;
}

input[type=checkbox] {
  width: auto;
  height: auto;
}

button{
  margin-top: 10px;
}

.main-container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.description{
  height: 100px;
}

.MuiPaper-root ,.MuiTableContainer-root,.MuiPaper-elevation1,.MuiPaper-rounded{
  margin-bottom: 50px;
}
ul{
  padding-left: 0px;
}
.alert {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: tomato;
}